.button{
    border: none;
    padding: clamp(6px, 1vw, 12px);
    border-radius: 10px;
    font-size: clamp(0.75rem, 1vw, 1rem);
}

.mcq-btn{
    background-color: skyblue;
    font-weight:600;
}


.toggleBtn{
    background-color: greenyellow;
    font-weight: bolder;
    transition: all 0.5s ease;
}

.toggleBtn:active{
    transform: translateY(-4px);
    background-color: rgb(91, 148, 5);
    box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.409);
}