.overlay{
    position: fixed;
    inset: 0;

    background-color:rgba(255, 255, 255, 0.378);
    backdrop-filter: blur(10px);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 999;
}


.modal{
    width: min(90%, 400px);

    background-color: rgba(255, 255, 255, 0.105);
    backdrop-filter: blur(1px);
    box-shadow: 0px 5px 24px 2px  rgba(142, 147, 142, 0.406);    
    padding: 2rem;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    animation: popup .3s ease;
}

.buttons{
    display: flex;
    justify-content: end;
    gap: 1rem;

}

@keyframes popup{
    from{
        transform:scale(.8);
        opacity:0;
    }
    to{
        transform:scale(1);
        opacity:1;
    }
}